

<section id="home" class="sec-main">
    <h1 class="main-heading">Start Your Journey Of Legend</h1>
</section>

<section id="about" class="sec-services">
  <div class="container">
    <h1>Why are you here</h1>

    <hr />

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Some great person said:<br>
          "Helping Others Succeed Forges One's Own Attainment."
      </div>
    </div>
  </div>
</section>


<section id="categories">
  <div class = "container">
    <h1>Categories</h1>

  <hr />

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("GW2_image_dps.png") %>
        <div class="caption">
          <h4><%= link_to("dps", dps_jobs_path(:order => "by_dps")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("GW2_image_healbooner.png") %>
        <div class="caption">
          <h4><%= link_to("healbooner", healbooner_jobs_path(:order => "by_healbooner")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("GW2_image_booner.png") %>
        <div class="caption">
          <h4><%= link_to("booner", booner_jobs_path(:order => "by_booner")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("GW2_image_mechanism.png") %>
        <div class="caption">
          <h4><%= link_to("mechanism", mechanism_jobs_path(:order => "by_mechanism")) %></h4>
        </div>
      </div>
    </div>
  </div>

</div>

</section>
